
#pay-3::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background: #d9d9d9;
	background: rgba(0, 0, 0, 0.15);
}

#pay-3::-webkit-scrollbar
{
	width: 6px;
	background: #d9d9d9;
	background: rgba(0, 0, 0, 0.15);
}

#pay-3::-webkit-scrollbar-thumb
{
	background-color: #FFFFFF;
}