<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="inner">

                <img src="../public/img/wells_logo.png" width="34" height="34" alt="" class="wall_frog"/>

                <!--begin tabs going in wide content -->
                <header></header>
                <!--/.nav-tabs.content-tabs -->

                <div class="inner_Sec toggled toggle-wrapper" id="wrapper">
                    <!-- Sidebar -->
                    <sidebar (displayData)="setData( $event )" class="outer_sidebar"></sidebar>
                    <!-- /#sidebar-wrapper -->
                    <div class="tab-content">
                        <router-outlet (info)="info" class="outerIntro tab-pane fade"></router-outlet>
                    </div><!--/.tab-content -->

                </div>

            </div>
        </div>
    </div>
</div>
